<table style="width: 100%; border: 0; padding: 1px">
		<tr>
		<td><b style="color: #fff">Gamer District 7x</b></td>	<td style="text-align: right;">
		<img src="http://www.gamer-district.com/modules/mod_realmcore/wow_on.png"></td></tr></table><table style="width: 100%; border: 0; padding: 3">
			  <tr>
				<td>Uptime:</td>
				<td>14 hours 11 minutes</td>	</tr>
				<tr>
				<td>Players online:</td>
				<td><b>1959</b> &nbsp; &nbsp;<span style="color: #ADDFFF">779</font> / <span style="color: #F62817">850</font></td>
			  </tr>
			  <tr>
				<td>Max online:</td>
				<td><b>1627</b></td>
			  </tr></table>
			<table style="width: 100%; border: 0; padding: 1px">
		<tr>
		<td><b style="color: #fff">Gamer District 12x</b></td>	<td style="text-align: right;">
		<img src="http://www.gamer-district.com/modules/mod_realmcore/wow_on.png"></td></tr></table><table style="width: 100%; border: 0; padding: 3">
			  <tr>
				<td>Uptime:</td>
				<td>14 hours 11 minutes</td>	</tr>
				<tr>
				<td>Players online:</td>
				<td><b>136</b> &nbsp; &nbsp;<span style="color: #ADDFFF">61</font> / <span style="color: #F62817">75</font></td>
			  </tr>
			  <tr>
				<td>Max online:</td>
				<td><b>185</b></td>
			  </tr></table>
			<br /><br /><br /><br /><br /><br />